body{
    background-image: url("images/b6e5ec43faa819f8c0074c4816ac5620.jpg");
    background-repeat:repeat;
    background-attachment:scroll;
    background-size:auto;
    margin-left:3%;
    margin-right:5%;
  
}
.header{
    
    font-size:120%;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin-top:3%;
    color:rgb(40, 27, 27);
    padding: 2%;
    box-shadow: inset 10px 10px 40px rgb(255, 0, 43);
    animation-name: up;
   animation-duration: 2s;
   animation-timing-function: ease-out;
   animation-delay: 0s;
   animation-iteration-count: 1;
}
@keyframes up{
    from{
        transform : translateY(-60%);
    }
}
.h{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:1%;
    margin-top: 5%;
    font-size: 110%;
    font-weight: bolder;
    font-style: italic;
    color:rgb(255, 49, 83);
   padding-left:20px;
   padding-top:10px;
   padding-bottom: 10px;
   padding-right: 10px;
   display: inline-block;
    background-color: rgb(230, 199, 204);
    border-radius: 50px;
    box-shadow:  10px 10px 20px rgb(198, 59, 59);
     animation-name: right;
   animation-duration: 2s;
   animation-timing-function: ease-out;
   animation-delay: 0s;
   animation-iteration-count: 1;
}
@keyframes right{
    from{
        transform : translateX(-60%);
    }
}
.first{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:100%;
    display:inline-block;
    margin-left:180px;
}
.b{
    text-align: justify;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:105%;
     font-style:italic;
     color:rgb(255, 14, 154);
     font-weight: 600;
     margin-bottom: 0px;
    
}
.change1 , .change , .change3{
    text-transform: uppercase;
}

.b1{
    text-align: justify;
     margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:105%;
     font-style:italic;
    color:rgb(255, 14, 154);
     font-weight: 600;
}


.flex{
    margin-left:auto;
    margin-right:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2%;
     position: relative;
     max-width: max-content;
     animation-name:img;
   animation-duration: 2s;
   animation-timing-function: ease-out;
   animation-delay: 0s;
   animation-iteration-count: 1;
   animation-timeline: view();
   animation-range: entry 0;
}
@keyframes img{
    from{
        transform: translateY(90em )
        ;
    }
}

.img{
   box-shadow: 0px 0px 15px black;
    width:100%;
   height:40em;
}

 .main {
    position: absolute;
    top:4.5%;
    left:30%;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 1.8em ;
    margin-left:5%;
}


.request{
    width:100%;
    text-align: center;
    position:absolute;
    top:25% ;
     color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size:150%; 
   
   
}
.high{
    display: inline-block;
    margin-left: 0%;
    text-decoration: 3px wavy black;
    background-color: pink;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: 900;
    font-size: 100%; 
    padding:5px;
    animation-name:boundMan ;
    animation-timing-function:ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay:3s ;
    animation-direction:alternate;
    animation-play-state: running;
}
.high:hover{
    animation-play-state: paused;
}
@keyframes boundMan{
    0%  {
        transform: translateY(0);
    }
    20% {
         transform: translateY(-0.5em);
    }
    40%{
        transform : translateY(0);
    }
    60%{
        transform: translateY(-0.3em);
    }
    80%{
        transform :translateY(0.1em);
    }
    100%{
         transform : translateY(0);
    }


}
#gif{
    position:absolute;
    translate: -200%;
    top:43%;
   width:35%;
   
    
}
.butto1{
    padding:0.8em;
    margin-right: 10px;
    background-color: rgb(255, 59, 92);
    border:none;
    cursor: pointer;
    border-radius: 10%;
    font-style: italic;
    font-weight: 700;
    font-size:100%;
    color:antiquewhite
}
.butto2{
    padding:0.8em;
    position: relatives;
    cursor: pointer;
    background-color: rgb(255, 59, 92);
    border:none;
    border-radius: 10%;
    font-style: italic;
    font-weight: 700;
    font-size : 100%;
    color:antiquewhite;
}

.buttoo1{
    position:absolute;
    bottom:20%;
    left:20%;
} 
.buttoo2{
    position:absolute;
    bottom:20%;
    right:20%;
}
.s , .s1 {
    text-align: justify;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:105%;
     font-style:italic;
    color:rgb(255, 14, 154);
     font-weight: 600;
}
.s2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:160%;
    font-style:italic;
    color:rgb(255, 14, 154);
    font-weight: 600;
    margin-left: 20px;
}
.love{
    background-color: rgb(255, 92, 201);
    color: aliceblue;
}
.love2{
    color: aliceblue;
    background-color: rgb(255, 0, 43);
} 
.welcome{
   position:absolute;
   text-align: center;
   max-width: 100%;
   height: auto;
   box-shadow: 0.1em 0.1em 2em #000000;
   background-image: url(images/radiant-pink-heart-background-3d-rendered_9794121.jpg!w700wp.webp);
   background-attachment:local ;
   background-repeat: repeat;
   color: rgb(255, 49, 49);
   padding:5em;
   padding-top: 3em;
   padding-bottom: 0.1em;
   text-align: center;
   padding-left:2em;
   padding-right: 2em;
   animation-name: left;
   animation-duration: 3s;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-iteration-count: 1;
}
@keyframes left{
    from{
        transform: translateY(-60%);
    }
}
.wel{
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: oblique;
    font-size: 2em;
     font-weight: 800;
}
.forn ,.pass , .name ,.inv , .rev, .forp{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: oblique;
    font-weight: 800;
    
}
.val , .fval{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: oblique;
    font-weight: 800;
   
}
.forn , .forp ,.fval , .sumit{
    font-weight: 100;
}



.sumit{
    color: rgb(0, 0, 0);
    padding:1em;
    border-radius: 3em;
    border: none;
    background-image: url(images/6f533dbe937aaa70376ba1c539854d80\ \(1\).jpg);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: oblique;
    font-weight: 800;
    cursor: pointer;
     
} 
.wel1{
    color: black;
    font-size:1.5em;
    font-weight: 500;
}
 .inv , .rev{
    padding:1em;
    background-color: palegreen;
    border: none;
    border-radius: 5em ;
    color: rgb(19, 24, 29);
    font-size: 1em;
    cursor:pointer;
}
.body{
    position:relative;
    display: flex;
    justify-content: center;
    
}

.final{
    display: block;
    text-align:right;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
    font-size: 2.2em;
    font-style: oblique;
    font-weight: 800; 
}
.finalVid{
    z-index: -3;
    width: 100vc;
    position: fixed;
    object-fit: cover;
}
.text{
    z-index: -2;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10em;
}
.myh{
    z-index: -1;
    font-size: 1.5em;
    font-weight: 800;
    animation: fin 3s ease 1 alternate both;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(188, 0, 0);
    background: linear-gradient(90deg ,white , black);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;

}
span{
    z-index: -1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: slow;
    animation-duration: 3s;
    animation-timing-function: linear;
    display: inline-block;
    opacity: 0;
    animation-fill-mode: forwards;
    color :black;
    text-shadow: 0 0 5px #ff56ab , 0 0 10px #af0057 , 0 0 20px #ff438e;
}
span:nth-child(1){
    animation-delay: 5s;
}
span:nth-child(2){
    animation-delay: 6s;
}
span:nth-child(3){
    animation-delay: 7s;
}
span:nth-child(4){
    animation-delay: 8s;
}
span:nth-child(5){
    animation-delay: 9s;
}
span:nth-child(6){
    animation-delay: 10s;
}
span:nth-child(7){
    animation-delay: 11s;
}
span:nth-child(8){
    animation-delay: 12s;
}
span:nth-child(9){
    animation-delay: 13s;
}
span:nth-child(10){
    animation-delay: 14s;
}
span:nth-child(11){
    animation-delay: 15s;
}
span:nth-child(12){
    animation-delay: 16s;
}
span:nth-child(13){
    animation-delay: 17s;
}
span:nth-child(14){
    animation-delay: 18s;
}

@keyframes fin{
    from{
        transform: translatex(8em);
    }
}
@keyframes slow{
    from{
        opacity: 0;
        transform: translateX(10em);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.finalvid2{
    margin-top: 20em;
}
 .finalvid4 , .finalvid5 , .finalvid6{
    width:6em;
    position: fixed;
}
.finalvid5{
    margin-top: 35em;
    transform: translateX(10em);
    animation-name: top2;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 19s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.finalvid4{
    margin-top: 35em;
    transform: translateX(-10em);
    animation-name:top3 ;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 20s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.finalvid6{
    animation-name: top1;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 21s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes top1{
    from{
        transform: translateY(0);
    }
    to{
        opacity: 1;
        transform: translateY(30em);
    }
}
@keyframes top2{
    from{
        transform: translateX(0);
    }
    to{
        opacity: 1;
        transform: translateX(10em);
    }
}
@keyframes top3{
    from{
        transform: translateX(0);
    }
    to{
        opacity: 1;
        transform: translateX(-10em);
    }
}
.but{
    background:linear-gradient(30deg ,red, hotpink  , lightblue);
    padding: 2em;
    position: fixed;
    border-radius: 20%;
    border: none;
    margin-top:45em;
    color: aliceblue;
    font-weight: 900;
    font-style: italic;
}


